.nav_buttons{
    margin: 0 5px;
}
.nav_links{
    text-decoration: none;
    color: white;
}
.nav_links:hover{
    text-decoration: none;
}

#navContainer {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    }

h4 {
    align-content: flex-start;

}