/* NavItem{
    display: flex;
    justify-content: space-between;
} */
.nav_buttons{
    margin: 0 5px;
}
.nav_links{
    text-decoration: none;
    color: white;
}
.nav_links:hover{
    text-decoration: none; color: white;
}
.sidebar{position: fixed; top: 0; width: 100%;}

.media_image {width: 60px;}