#editForm {
  text-align: center;
}

.name {
  display: flex;
  justify-content: center;
}
.fname,
.lname {
  margin: 25px;
}
.buttons {
  margin: 20px;
}
.toggle {
  margin: 25px;
}
input {
  pointer-events: fill;
}
