.main {margin-top: 60px; margin-bottom: 44px; padding-bottom: 10px; background-image: linear-gradient(#6B7D73,#31525E)}
/* .user_edit {margin-top: 120px; margin-bottom: 25px; height: 100vh;} */

/* .mainDiv {margin-top: 30px;} */
h3{
  color: white;
}
.mediaTable{
  color: white;
}

.mainDiv {max-width: 1000px; margin: 20px auto 20px auto;}
.mediaTable  {border: none;}
.media_table_image {width: 30px;}
.media_collection_image {width: 40px; margin-right: 10px;}

h5 {
  color: white;
  text-align: center;
}

Label {
  margin-bottom: 50px;
}
.media_heading {color: white;}

